@model KisanKiDukan.Models.ViewModels.CustomerOrderModel
@{
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
    int i = 1;
}
<style>
    .row {
        margin-top: 1%;
    }
</style>

@*<h4>Order Detail</h4>*@
<div style="width:100%;overflow-x:scroll">
    <h3>Order Detail</h3>
    @using (Html.BeginForm())
    {
        <div class="row">
            <div class="col-md-2">
                <a href="/Home/OrderHistory" class="btn btn-info">Back</a>
            </div>
        </div>
        <hr />
    }
    @if (Model.Data.Count() > 0)
    {
        <div class="row">
            <div class="col-md-12">
                <table class="table table-striped table-bordered">
                    <tr>
                        <th>Pic</th>
                        <th>ID</th>
                        <th>Order ID</th>
                        <th>Product ID</th>
                        <td> Product Name</td>
                        <th>Product Price</th>
                        <th>Quantity</th>
                        <th>Final Price</th>
                        <th>Status</th>
                    </tr>
                    @foreach (var item in Model.Data)
                    {
                        <tr>
                            <td><img src="/Images/@item.ProductImage" style="width:90px; height:90px" /> </td>
                            <td>@item.Id</td>
                            <td>@item.Order_Id</td>
                            <td>@item.Product_Id</td>
                            <td>@item.ProductName</td>
                            <td>@item.Price</td>
                            <td>@item.Quantity</td>
                            <td>@item.FinalPrice</td>
                            <td style="text-transform:uppercase">
                                @if (item.IsCancel.Equals(true))
                                {
                                    <span style="font-size:17px;color:red;font-weight:bold">cancelled</span>
                                }
                                else
                                {
                                    <span style="font-size:17px;color:#1aa10f;font-weight:bold">ordered</span>
                                }
                            </td>
                        </tr>
                    }
                    <tr>
                        <td colspan="9">
                            <span style="float:left;font-size:17px;color:#ff6a00;font-weight:bold">Total:&nbsp;<i class="fa fa-inr" aria-hidden="true"></i>&nbsp;@Model.Total_Price</span>
                            <span style="float:right;">
                                <a style="font-size:20px;" href="/Checkout/GenerateInvoice?orderId=@ViewBag.OrderId">Get Invoice</a>
                            </span>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    }
</div>
