@model KisanKiDukan.Models.DTO.VendorPincodeModelDTO
@{
    ViewBag.Title = "AddVendorPincode";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@*<h2>AddVendorPincode</h2>*@
@using (Html.BeginForm())
{
    <div style="width:50%">
        @if (TempData["msg"] != null)
        {
            <div class="alert alert-info">
                @TempData["msg"]
            </div>
        }
        <div class="row r">
            <div class="col-md-12">
                <a class="btn btn-info" href="/PincodeMaster/AllVendorPincode">View Pincodes</a>
            </div>
        </div>

        <div class="row r">
            <div class="col-md-12">
                <h3>Add Pincode</h3>
                <div class="form-group">
                    @Html.TextBoxFor(a => a.pincode, new { @class = "form-control", value = "@Model.PincodeList" })
                    <span class="text-danger">@Html.ValidationMessageFor(a => a.pincode)</span>
                </div>
                <h4>City Name</h4>
                <div class="form-group">
                    @Html.TextBoxFor(a => a.city, new { @class = "form-control" })
                    <span class="text-danger">@Html.ValidationMessageFor(a => a.city)</span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-info" />
                </div>
            </div>

        </div>
    </div>
}


